#addContact {
  display:inline-block;
  background-color: royalblue;
  color: #fff;
  font-size: 20px;
  padding:20px 40px;
  cursor: pointer;
  margin-right: 20px;
}

.close {
  display:inline-block;
  background-color: red;
  color: #fff;
  font-size: 14px;
  padding:10px 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
}